---
layout: default
plugin: intense
---

{% include _amsf.html %}

<!-- Post-wide custom CSS -->
{{ amsf_page_css }}

{% capture amsf_page_heading_text %}
  {% if page.img-headline %}
    {{ amsf_page_heading_type_img }}
  {% elsif page.svg-headline %}
    {{ amsf_page_heading_type_svg }}
  {% else %}
    {{ page.title }} <span></span>
  {% endif %}
{% endcapture %}

{% capture amsf_page_heading_external %}
  {% if page.link %}
    class=external
  {% endif %}
{% endcapture %}

{% capture amsf_page_heading %}
  {% if page.link %}
    <a href="{{ page.link }}" class=external>
      {{ amsf_page_heading_text }}
    </a>
  {% else %}
    {{ amsf_page_heading_text }}
  {% endif %}
{% endcapture %}

<!-- Article wrapper, limit width -->
<article {{ amsf_page_lang }}>

  <!-- Post title -->
  <header>
    {{ amsf_page_heading_svg_style }}

    <h1 class=amsf-title>
      <a href="{{ page.permalink }}">{{ page.desc }}</a>
    </h1>

    {% if page.date %}
      <small>
        Par <span rel=author>{{ author.name }}</span>
        le <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      </small>
    {% endif %}
  </header>

  <!-- Post content -->
  <div class=post-content>

    <p>

      <img src="{{ site.file }}/series/{{ page.category }}/{{ page.image }}/large.jpg" alt="{{ page.title }}" data-caption="{{ page.title }}" data-title="{{ page.desc }}" />

      {% assign num = page.image | int %}
      {% assign next = num | plus:1 %}
      {% assign prev = num | plus:-1 %}

      <div class="nav cf">
        {% for photo in site.categories[page.category] %}
        {% if photo.image == prev %}
        <div class="nav-left">
          <a href="{{ photo.url }}">
            <i class="material-icons">fast_rewind</i>
          </a>
        </div>
        {% endif %}
        {% if photo.image == next %}
        <div class="nav-right">
          <a href="{{ photo.url }}">
            <i class="material-icons">fast_forward</i>
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>

    </p>

    <div class="photo-metadata">
      {{ page.metadata | aer_metadata }}
    </div>
        
  </div>

</article>

