---
layout: default
title: An Aer
permalink: /
plugins: intense
---

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>
    <h1 class=amsf-title>
      An Aer
    </h1>

    <small>{{ site.description }}</small>
  </header>

  <div class="quick-preview cf">
    {% assign i = 0 %}
    {% for post in site.posts %}
       {% if post.tags contains "front" %}
       <a href="{{ post.url }}">
          <img class="intense" src="{{ site.file }}/series/{{ post.category }}/{{ post.image }}-small.jpg" />
       </a>
       {% assign i = i | plus: 1 %}
       {% if i == 5 %}
          {% break %}
       {% endif %}
       {% endif %}
    {% endfor %}
  </div>

  <h2>Dernières Séries d'Images</h2>
  
  {% for post in site.categories.series %}
    {% include page-item.html %}
  {% endfor %}
</article>
