---
layout: default
title: An Aer
permalink: /
plugins: intense
---

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>
    <h1 class=amsf-title>
      <a href="{{ page.permalink }}">
	An Aer
      </a>
    </h1>

    <small>{{ site.description }}</small>
  </header>

  <div class="quick-preview cf">
    {% for image in site.data.main.images %}
    {% for post in site.posts %}
    {% if image == post.url %}
    <a href="{{ post.url }}">
      <img class="intense" src="{{ site.file }}/series/{{ post.category }}/{{ post.image }}/200x400.jpg" />
    </a>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>

  <h2>Dernières Séries d'Images</h2>
  
  {% for post in site.categories.series %}
    {% include page-item.html %}
  {% endfor %}
</article>
