---
layout: default
title: An Aer
permalink: /
plugins: intense
---

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>
    <h1 class=amsf-title>
      An Aer
    </h1>

    <small>{{ site.description }}</small>
  </header>

  <div class="quick-preview cf">
    {% for image in site.data.main.images %}
    <img class="intense" src="{{ site.file }}{{ image }}" />
    {% endfor %}
  </div>
  
  <h2>Dernières Séries d'Images</h2>
  
  {% for post in site.categories.series %}
    {% include page-item.html %}
  {% endfor %}
</article>
